@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  background-image: url(../assets/icon.png);
  background-repeat: no-repeat;
  background-position-x: -100px;
  background-color: #fff;
  background-position-y: -100px;
  width: 980px;
  border-radius: 10px;
  height: 80vh;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #e54b4b;

  :hover {
    color: #ff2b4b;
    transition: 0.3s ease-in-out;
  }
}
